﻿@model IEnumerable<Lab2_MVC_MamaniAyalaBrandon.Models.ClsPersona>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <center>
            <h1><b>Lista de Personas</b></h1><br />
            <table border="1">
                <thead>
                    <tr>
                        <th>Apellidos</th>
                        <th>Nombres</th>
                        <th>Email</th>
                        <th>Sexo</th>
                        <th>Edad</th>
                        <th>Altura</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.apellido)</td>
                        <td>@Html.DisplayFor(modelItem => item.nombre)</td>
                        <td>@Html.DisplayFor(modelItem => item.email)</td>
                        <td>@Html.DisplayFor(modelItem => item.sexo)</td>
                        <td>@Html.DisplayFor(modelItem => item.edad)</td>
                        <td>@Html.DisplayFor(modelItem => item.altura)</td>
                    </tr>
                    }
                </tbody>
            </table>
        </center>
    </div>
</body>
</html>
